
.login__form__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 20px;
    ;
  }

.login__nav__container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
  padding: 15px 0;
  gap: 10px;
  font-weight: 900;
}

.login__nav__container a {
  font-size: var(--font-size-precios);
  color: var(--color-negro);
}

.login__form__container p {
  color:#f6070a;
   
 }

.form__label {
  display: flex;
  justify-content: center;
  font-size: 12px;
  flex-direction: column;
  align-items: flex-start;
  align-items: center;
  width: 90%;
  gap: 18px;
  
}


  .form__label label{
    margin-bottom:-16px;
    font-weight: 900;
    font-size: 1rem;
    }
    








.login__form__container h2 {
  margin-top: 20px;
  margin-bottom: 0;
  font-size: 28px;
  font-weight: 900;
  justify-self: flex-start;
}

.form__label input {
  max-width: 500px;
  width: 100%;
  padding: 8px;
  border: 1px double var(--color-azul-claro);
  border-radius: 5px;
  border-color:var(--color-azul);
  outline: 0 none;
  box-shadow: 1px 1px 1px 1px var(--color-celeste);

}

.form__label a {
  
  font-size:12px;
  color: var(--color-negro);

}

.form__label button {
    max-width: 500px;
  background-color: var(--color-celeste);
  width:100%;
  padding: 10px;
  border: 0;
  border-radius: 5px;
  letter-spacing: 2px;
  font-weight: 900;
  text-transform: uppercase;
  color: var( --color-blanco);
}


.login__footer__container{

display:flex;
width: 100%;
justify-content: center;
flex-wrap: wrap;
}

@media (min-width: 767px){


 
  .form__label label{
    margin-bottom:-16px;
    font-weight: 900;
    font-size: 1rem;
    }
    



}